.product img {
    height: 286px;
    width: 286px;
    margin: 8px;
    border-radius: 8px;
}

.product {
    height: 510px;
    width: 300px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product-info {
    margin-left: 14px;
    margin-bottom: 0px;
}

.product-info p {
    margin-top: 5px;
}

.btn-cart {
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.btn-cart:hover {
    background-color: orange;
}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    margin-top: 0px;
    margin-bottom: 0px;
}